<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Пароль от личного кабинета.</title>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <h3>Здравствуйте!</h3>
    <strong
      >Для вас был создан аккаунт на сайте
      <a href="https://pomogu.org/">pomogu.org</a>. Пароль от личного кабинета: </strong
    >{{password}}
  </body>
</html>
